@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);

/* All elements
======================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

html {
    overflow-x: hidden;
}

/* Navigation
======================================== */

@charset "UTF-8";

.navigation {
  transition: 0.35s all ease;
  top:0;
  height: 85px;
  background: #122433;
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid #AC966A;
  width: 100%
}

.pre-scroll {
    background: none;
}

.pre-scroll .brand {
    content: url(../img/logos/logo.png);
}

.brand {
  position: absolute;
  float: left;
  content: url(../img/logos/shrunken_logo.png);
  margin-top: 5px;
  transition: 0.35s all ease;
}

.nav-container {border-bot
  max-width: 2000px;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 10px;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 5rem;
}
nav ul .u {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #122433;
  font-weight: 350;
  font-family: Raleway;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #122433;
  color: #ffffff;
  text-decoration: none;
  transition: 0.35s all ease;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #AC966A;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 240px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-dropdown > li > a {
    text-transform: capitalize;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left:85vw;
  background: #122433;
  height: 70px;
  width: 10px;
}

@media only screen and (max-width: 400px) {
    .brand {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .nav-mobile {
        left:70vw;
    }
}

@media only screen and (max-width: 1660px) {
  .link {
    background: #122433;
  } 
  .navigation {
    background: #122433;
  } 
}

@media only screen and (max-width: 1380px) {
  .nav-mobile {
    display: block;
  }
  
    
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
    margin-right: 0;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 1381px) {
  .nav-list {
    display: block !important;
  }
}

@media only screen and (max-width: 850px) {
    .nav-mobile {
        left: 65vw;
    }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Footer
======================================== */
footer {
  background: #191919;
  color: #fff;
  margin: 0;
  @import "https://fonts.googleapis.com/css?family=Open+Sans";
  font-family: 'Open Sans', sans-serif;
  border-top: 18px solid #191919;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered .footer-logo {
  width: 35%;
  margin-left: -10vw;
  margin-top: -50px;
}
footer .centered .footer-logo img.logo {
  padding: 30px 20px 10px 20px;
  max-width: 100%;
}
footer .centered .footer-contact {
  width: 20%;
}
footer .centered .footer-navigation {
  width: 100%;
  margin-left: 10vw;
}
footer .centered .footer-navigation .footer-links-holder {
  width:15%;
  position: relative;
  float: left;
  margin: 0;
}
footer .centered .footer-navigation .footer-links-holder .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
  font-size: 8pt;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-logo {
    max-width: 250px;
    width: 50%;
    padding-top: 20px
  }
  footer .centered .footer-contact {
   display: none;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    padding: 0 20px;
  }
}
/* Responsive Mobile Sizes */
@media only screen and (max-width: 628px) {
  footer .centered .footer-logo {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-contact {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    width: 100%;
    padding: 0;
  }
  footer .centered .footer-navigation .footer-links-holder h3 {
    margin: 0;
    padding: 10px 20px;
    border-top: #000 1px solid;
    cursor: pointer;
    /* Down Arrows */
  }
  footer .centered .footer-navigation .footer-links-holder h3::after {
    float: right;
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
  }
  footer .centered .footer-navigation .footer-links-holder.active h3::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  footer .centered .footer-navigation .footer-links-holder.active .footer-links {
    max-height: 10000px;
  }
}
/* Social Icons */
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  padding: 7px;
  width: 25px;
  height: 25px;
  margin: 0 3px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
.social a:hover {
  background: #65c2ed;
}


/* Typography */
footer h3 {
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 11pt;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer li a {
    color: #7F7D7F;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #AC966A;
}
.footer-contact a {
  text-transform: none;
  font-size:11pt;
}

/* Misc CSS */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

#google_translate_element {
    float: right;
    margin-top: -25px;
}

@media only screen and (max-width:1300px) {
    #google_translate_element {
        display: none;
    }
}

@media only screen and (max-width: 1475px) {
    .footer-logo {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .footer-contact {
        margin-left: 20px;
    }
    
    footer h3 {
      font-size: 10pt;
    }
    .footer-contact a {
        font-size: 8pt;
        
    }
    #footer-long a {
        font-size: 6pt;
    }
}
