@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

/* All elements
======================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Home-hero
======================================== */

.home-hero {
    margin: 0;
    font-family: Raleway;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
  z-index: -1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:-1;
  background: hsla(207, 48%, 14%, 3);
  opacity:0.85;
}

.header-content{
  margin-top: -15rem;
  align-content: center;
    
    z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
  line-height: 3rem;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
  background: #AC966A;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

#underline {
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    border-bottom: 5px solid #AC966A;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


h1 > span {
    font-size: 2.5rem;
    line-height: 1px;
    font-style: italic;
}